html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    position: sticky;
    scroll-padding-top: 65px;
}

body {margin: O}

/* Navbar */

header {
  position: sticky;
  top: 0;
  background-color: #111;
  z-index: 1000;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-logo img {
  height: 60;
  width: 60;
}

.textgk {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 2rem;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.navbar-links a:hover {
  color: #fff;
}

.navbar-toggle {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
}

/* Hero */

.welcome {
  height: 100vh;
  width: 100vw; 
  background-image: url(../img/bf2acc.jpg);
  width: 100%;
}

.text {
  height: 100%;
  background-size: cover;
  background-position: center;
  }

.welcome p {
    max-width: 660px;
    margin: 20px auto 0px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.08em;
    color: #fff;
    font-family: "Spiegel", "Arial Narrow", Arial, sans-serif;
    cursor: default;
}

.welcome2 {
  padding-top: 600px;
  color: #fff;
  font-family: "Beaufort for LOL", serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-style: italic;
  text-align: center; 
}

/* Multijoueur */

.battles {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 50px 90px 50px;
    color: #fff;
}
  
.textbattles h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Beaufort for LOL", serif;
    font-weight: 600;
    letter-spacing: 0.1em;
}
  
.textbattles p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 60px;
    text-align: center;
    font-family: "Spiegel", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 0.1em;
}
  
.battles__images {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
  
.battles__images img {
    width: 30%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.text_battles_bottom {
    text-align: center; 
    font-size: 24px;
    margin-top: 60px;  
    font-family: "Spiegel", "Arial Narrow", Arial, sans-serif;
}

.battles__images2 {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
  
.battles__images2 img {
    width: 30%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.divbutton {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .button-primary {
    background-color: #111;
    color: white;
    margin-top: 20px;
}
  
  .button-primary:hover {
    background-color: darken(var(--primary-color), 10%);
}
  
  .divbutton .button-secondary {
    background-color: #111;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    margin-top: 20px;
}
  
  .divbutton .button-secondary:hover {
    background-color: var(--secondary-color);
    color: white;
}

  /* Héros */

  .heros {
    background-color: #000;
    color: #fff;
    padding: 70px 0;
  }
  
  .introtextspells h2 {
    font-size: 48px;
    margin-bottom: 40px;
    text-align: center;
    font-family: "Beaufort for LOL", serif;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
  
  .introtextspells p {
    font-size: 24px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    font-family: "Beaufort for LOL", sans-serif;
  }
  
  .heros-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  
  .hero {
    position: relative;
  }
  
  .hero img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .spells {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .spells:hover {
    opacity: 1;
  }
  
  .spells h3 {
    font-size: 24px;
    margin-bottom: 5px;
    text-align: center;
    font-family: "Beaufort for LOL", serif;
  }
  
  .spells p {
    font-size: 16px;
    margin-bottom: 8px;
    text-decoration: underline 2px;
    
  }
  
  .spells ul {
    list-style: circle;
    margin: 0;
    padding: 0;
  }
  
  .spells li {
    font-size: 14px;
    margin-bottom: 3px;
  }

  .divbuttonspells {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .divbuttonspells .button-secondary {
    background-color: white;
    color: black;
    border: 2px solid var(--secondary-color);
    margin-top: 60px;
}
  
  .divbuttonspells .button-secondary:hover {
    background-color: black;
    color: white;
}
 
 /* Combats spaciaux */

 #spatialbattles {
  background-image: url(../img/bf2spatial.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.spatialsection {
  text-align: left;
  box-sizing: content-box;
  width: 26%;
  padding-top: 300px;
  padding-right: 976px; /* J'ai essayé par tout les moyens de faire mon positionnement avec display : flex mais je n'y suis pas parvenu donc j'ai fait avec du padding  */
  padding-bottom: 200px;
  padding-left: 280px;
}

.spatialsection h3 {
letter-spacing: 0.1rem;
}

.spatialsection h2 {
font-size: 50px;
font-family: "Beaufort for LOL", sans-serif;
font-weight: 700;
}

.spatialsection p {
font-family: "Beaufort for LOL", sans-serif;
font-weight: 600;
font-size: 18px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.spatialsection .button-secondary {
  background-color: white;
  color: black;
  border: 2px solid var(--secondary-color);
  margin-top: 30px;

}

.spatialsection .button-secondary:hover {
  background-color: black;
  color: white;
}

  /* Video gameplay */
  
  .video {
    background-image: url("../img/fondvidéobf2.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 125px;
     margin: 0
}
  
  .video .button {
    position : absolute;
    bottom :5%;
    background-color: #fff;
    color: #111;
}

/* Footer */

.footer-dark {
  padding:20px 0;
  color:#f0f9ff;
  background-color:#1a1a1a;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

.footer-dark .item.text {
  margin-bottom:36px;
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}
